<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rs2015feedback.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rs2015feedback.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RS2015FeedBack</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RS2015FeedBack</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RS2015DBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=xxx.database.windows.net,1433;Initial Catalog=RS2015DB;Persist Security Info=True;User ID=xxx;Password=xxx;Application Name=EntityFramework" Name="Data Source=xxx.database.windows.net,1433;Initial Catalog=RS2015DB;Persist Security Info=True;User ID=xxx;Password=xxx;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RS2015Form.RS2015DBEntities, RS2015Form" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RS2015DBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/FormModel.csdl|res://*/FormModel.ssdl|res://*/FormModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ybcxrd4t3g.database.windows.net,1433;Initial Catalog=RS2015DB;Persist Security Info=True;User ID=rs2015;Password=!QAZ2wsx;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>